<form #myForm="ngForm" (ngSubmit)="addTeacher()">
    <label for="id">Code:</label>
    <input id="id" [(ngModel)]="teacher.id" name="id" required minlength="0">
    
    <label for="name">Name:</label>
    <input id="name" [(ngModel)]="teacher.name" name="name" required minlength="2">

    <label for="classes">Classes:</label>
    <input id="classes" [(ngModel)]="teacher.classes" name="classes" required minlength="1">

    <button [disabled]="myForm.invalid" type="submit">Add/Updatr Teacher</button>
</form>


<div style="font-weight: bolder;">
    teachers list:</div>
    <div style="border: 2px solid rgb(237, 140, 172); width: fit-content; padding: 5px;">
@for (t of this.teachers; track t) {
    {{t.id}}  {{t.name}}  {{t.classes}}
    <div></div>
}
</div>

