<nav>
<a routerLink="/add-student" routerLinkActive="active" >add student</a>
<a routerLink="/courses-list" routerLinkActive="active" >courses list</a>
<a routerLink="/student-detailes" routerLinkActive="active" >student detailes</a>
<a routerLink="/student-list" routerLinkActive="active" >student list</a>
<a routerLink="/driven-form" routerLinkActive="active" >driven form</a>
<a routerLink="/reactive-form" routerLinkActive="active" >reactive-form</a>
</nav>

<router-outlet></router-outlet>

<!-- <p>{{goodWord()}}</p> -->

<!-- <app-student-list>
</app-student-list> -->


<!-- <app-template-driven-forms></app-template-driven-forms> -->


<!-- 
{{'tired' | iconsPipes}}
{{'happy' | iconsPipes}}
{{'like' | iconsPipes}} -->






